<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recently Released Movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-bottom: 20px;
        }

        .movie-image {
            height: 300px;
        }

        .release-date {
            font-style: italic;
        }
    </style>
</head>
<body>
    <header class="bg-dark text-white py-4">
        <div class="container-sm text-center">
            <h1>Recently Released Movies</h1>
        </div>
    </header>

    <div class="container-sm mt-4">
        <div class="row">
            <div th:each="movie : ${recentlyReleasedMovies}" class="col-lg-4 mb-4">
                <div class="card">
                    <!-- Add an image for the movie -->
                    <img th:if="${movie.image != null}" th:src="'data:image/jpeg;base64,' + ${#strings.toString(movie.image)}" class="card-img-top movie-image" alt="Movie Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${movie.title}"></h5>
                        <p class="card-text" th:text="${'Rating: ' + movie.calculateAverageRating()}"></p>
                        <p class="release-date" th:text="${#dates.format(movie.releaseDate, 'dd MMMM yyyy')}"></p>
                        <p class="movie-description" th:text="${movie.description}"></p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/userLogin" class="btn btn-primary">Click here to login and post a Review</a>
    </div>
    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
